/*
##fffdff branco
#dddadd cinza claro
#bab8ba cinza escuro
#757375 cinza escuro
*/

/* 
Cinza claro (#E0E0E0) – fundo
Azul celeste (#4FC3F7) – elementos principais
Laranja queimado (#FF7043) – detalhes
Branco (#FFFFFF) – base
Preto suave (#2C2C2C) – texto
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reggae One", system-ui;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

h1{
    padding: 20px;
    font-size: 30px;
    color: #F7B733;
}

h2{
    margin-left: 20px;
}

p{
    margin-left: 10px;
}

 .container{
    margin: auto;
    padding: 10px;
 }

body{
    background-color: #F0F0F0;
}

header{
    background-color: #F26419;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000 ;
}

.logo{
    width: 30%;
 }

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: #F0F0F0;
    text-decoration: none;
}
 nav a:hover{
    color: #E94E1B;
    background-color:#4FC3F7 ;
 }

 header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

 #sobre {
   scroll-margin-top: 130px;
}

#sagas, #personagens, #combos{
   scroll-margin-top: 190px;
}

 .per1, .per2, .per3{
    margin-left: 20px;
 }

 #inicio{
    margin-top: 130px;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    color: #ffffff ;
    text-shadow: 2px 2px 5px #000000;
 }

 .banner{
    background: url(../img/bannerDBZ.jpg)  no-repeat center/cover;
    height: 400px;

 }

 section{
   scroll-margin-top: 120px;
 }

 #sobre{
    padding: 35px;
    background-color:  #FFFFFF;
    color: #2C2C2C
 }

 .sobre-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: auto;
 }

 .sobre-texto{
    flex: 1;
    padding: 20px;
 }

 .sobre-texto h1{
    font-size: 1.5;
    margin-bottom: 20px;
 }

 .sobre-texto p{
    font-size: 1;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
 }

 .sobre-texto h2{
    margin-top: 20px;
 }

 .hex-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    flex: 1;
   
 }

 .hex{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #4FC3F7;
    position: relative;
    border: 1px solid #FF7043;
 }
 
 .hex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }


 #personagens{
   background-color:  #FFFFFF;
   padding-left: 20px;
   padding-right: 20px;
 }

 #personagens .container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
   gap: 20px;
   text-align: center;
   padding: 50px 0;
 }

 #personagens .item{
   background-color: #F26419;
   border: 1px solid #4FC3F7;
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.5 ease; box-shadow:  0.2 ease;
   cursor: pointer;
 }

 #personagens .item:hover{
   transform: translateY(-5px);
   box-shadow: 0 8px 16px #4FC3F7;
 }

 #personagens .item:active{
   transform: scale(0.98);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
 }
 
 #personagens .item p{
   margin-top: 15px;
   font-size: 0.95em;
   color: #2C2C2C;
 }

 #personagens .imagemcard img {
   width: 100%;
   max-width: 400px;
   height: auto;
   margin-bottom: 10px;
 }

 #personagens h1{
   display: flex;
   text-align: center;
   justify-content: center;
   color: #F7B733;
 }


/*Modal*/

.container-btn1{
   margin-top: 1.2rem;
}

.container-btn2{
   margin-top: 1.2rem;
}

.container-btn3{
   margin-top: 2rem;
}

.container-btn4{
   margin-top: 2rem;
}

.container-btn5{
   margin-top: 2rem;
}


.modal{
   background: #F26419;
   padding: 20px;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   margin: auto;
   text-align: center;
}

 .btn:hover{
   background-color: #2db9fa;
   color: #2C2C2C;
}

.card h3{
   margin-top: 0;
}

.btn{
   display: inline-block;
   margin-top: 15px;
   padding: 10px 20px;
   background: #4FC3F7;
   color: #F0F0F0;
   text-decoration: none;
   border-radius: 6px;
   cursor: pointer;
}


.card{
   background: url(../img/ceu.png)  no-repeat center/cover;;
   border-radius: 10px;
}

.modal{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.6);
   display: none;
   justify-content: center;
   align-items: center;
}

.modal:target{
   display: flex;
}

.modal-content{
   max-height: 90vh;
   overflow-y: auto;
   background-color: #ffffff;
   padding: 30px;
   border-radius: 10px;
   max-width: 700px;
    text-align: center;
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
   margin-top: 150px;
}

.close-btn{
   margin-top: 20px;
   display: inline-block;
   padding: 8px 16px;
   background-color: #2db9fa;
   color: #F0F0F0;
   border-radius: 6px;
   text-decoration: none;
}


 @media (max-width: 675px){
    header .container, .sobre-container{
        flex-direction: column;
        text-align: center;
    }

    nav ul{
        margin-top: 10px;
        flex-direction: column;
    }

    #inicio{
        margin-top: 160px;
    }

    .logo{
        width: 60%;
    }

    .banner{
        height: 650px;
     }

    #personagens .item{
      width: 65%;
    } 

    #personagens .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
    }

   #sobre {
      scroll-margin-top: 230px;
   }

   #sagas, #personagens, #combos{
      scroll-margin-top: 250px;
   }

   .modal{
      margin-top: 50px;
  } 

  .modal-content{
      max-height: 60vh;
  } 

 }